body {
    background-color: lightgreen
}

h1 {
    font-size: 100px;
    color: lightsalmon;
    background-color: lightyellow;
    /* align-items: center; si no funciona este para centrar el texto usar el de abajo*/
    text-align: center; 
}

h2 {
    font-size: 40px;
    color: lightyellow;
    background-color: limegreen;
    text-align: center;
}

.subtexto {
           font-size: 30px;
           color: black;
           background-color: burlywood;
           border: 5px greenyellow;
           border-radius: 5px; 
}

.doctores {
           font-size: 15px;
           color: blue;
           background-color: cornflowerblue; 
           border-radius: 5px;
}

.tomate {
        color: white;
        background-color: red
}

.naranja {
          color: white;
          background-color: orange
}

.azularcoiris {
              color: white;
              background-color: skyblue
}

.verdealga {
           color: white;
           background-color: lightseagreen
}

.gris {
       color: white;
       background-color: grey
} 

.azulmetalico {
              color: white;
              background-color: mediumblue
}

.violeta {
         color: white;
         background-color: violet
}

.dorado {
        color: white;
        background-color: goldenrod
}