@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,  rgb(110, 143, 116), rgb(186, 212, 186), rgb(136, 156, 136));
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 25vh;
    margin: 5px 10px 5px 10px;
    
    background-color: rgba(28, 65, 28, 0.288);
    border-radius: 10px;

    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.nav__img {
    margin-left: 30px;
    margin-right: 50px;
}

.nav__img img {
    margin-top: 4px;
    width: 150px;
    
}

.title__home {
    width: 45%;
    font-size: 75px;
    font-family: 'Playfair Display' ;
    font-weight: 700;
    color: rgba(27, 88, 27, 0.781);
    flex-grow: 2;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-family: 'Playfair Display';
}

#check {
    visibility: hidden;
}

.nav-menu li {
    padding: 10px;
    flex-direction: row;
    
}

.nav-menu li a {
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: 20px;
    padding: 5px 9px 5px 9px;
    background: green;
    border-radius: 20px;
}

li:hover {
    text-shadow: 1px 1px 2px black;
    transition: 2seg;
    padding: 7px 11px 7px 11px;
}