* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#ul-formas {
    padding-left: 0px;
    list-style-type: none ;
}

.ul-formas-anidadas {
    padding-right: 0px;
    list-style: none ;
}